<h2 mat-dialog-title>{{type}} Device</h2>
<mat-dialog-content>
  <div class="row">
    <section>
      <mat-form-field>
        <mat-label>Enter IP address</mat-label>
        <input [formControl]="ipAddressControl" required matInput [(ngModel)]="newDevice.IP">
        @if (ipAddressControl.hasError('pattern')) {
        <mat-error>Please enter a valid IP address</mat-error>
        }
      </mat-form-field>
    </section>
    <section><mat-form-field>
        <mat-label>Enter MAC address</mat-label>
        <input required [formControl]="macAddressControl" matInput [(ngModel)]="newDevice.MAC">
        @if (macAddressControl.hasError('pattern')) {
        <mat-error>Please enter a valid MAC address</mat-error>
        }
      </mat-form-field>
    </section>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Enter Interface</mat-label>
      <input matInput [(ngModel)]="newDevice.Interface">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter Vendor</mat-label>
      <input matInput [(ngModel)]="newDevice.Vendor">
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Enter Product</mat-label>
    <input matInput [(ngModel)]="newDevice.Product">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter Device Type</mat-label>
    <input matInput [(ngModel)]="newDevice.Type">
  </mat-form-field>
  <div>
    <mat-form-field class="Notes">
      <mat-label>Enter any additional info</mat-label>
      <textarea  matInput [(ngModel)]="newDevice.Notes"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [disabled]="check()" (click)="close()">Save</button>
</mat-dialog-actions>