<header class="header">
    <section class="leftbox">
        <button mat-fab (click)="drawer.toggle()"><mat-icon fontIcon="menu"></mat-icon></button>
        <button mat-fab (click)="add()"><mat-icon fontIcon="add"></mat-icon></button>
    </section>
    <section class="rightbox">
        <button mat-fab (click)="refresh()"><mat-icon fontIcon="refresh"></mat-icon></button>
        <button mat-raised-button (click)="scan()">Scan Devices</button>
        <mat-form-field>
            <span matTextPrefix><mat-icon fontIcon="search"></mat-icon></span>
            <input matInput [(ngModel)]="searchText" (keydown.enter)="search()" placeholder="search for devices...">
        </mat-form-field>
    </section>
</header>
<main>
    <mat-drawer-container class="main">
        <mat-drawer class="drawer" mode="side" #drawer opened>
            <a [routerLink]="['']">Inventory</a> <br> <a [routerLink]="['vulnerabilities']">Vulnerabilities</a> <br><a [routerLink]="['tutorial']">Tutorial</a>
        </mat-drawer>
        <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
    </mat-drawer-container>
</main>