.main {
    height: 89vmin;
}

.drawer {
    background: #e5edff;
    width: 19vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background: #03A9F4;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    padding-right: 30px;
    height: 10vmin;
}

.sidebutton {
    width: 100%;
    font-size: 2vmin;
    color: #252525 !important;
}