.main {
    height: 89vmin;
}

.drawer {
    background: #57c5f7;
    width: 19vmin;
}

.header {
    background: #03A9F4;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    padding-right: 30px;
}

.leftbox{
    display:flex;
    width:21vmin;
    justify-content: space-between;
}

.rightbox{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    width:80vmin;
}