<div class="tutorial-page">
  <!-- Table of Contents -->
  <div class="toc">
    <h2>Table of Contents</h2>
    <li><button class="button" (click)="scrollToSection('section1')">Overview</button></li>
    <li><button class="button" (click)="scrollToSection('section2')">Inventory</button></li>
    <li><button class="button" (click)="scrollToSection('section3')">Alerts</button></li>
  </div>

  <!-- Sections -->
  <div class="content">
    <section #sections id="section1">
      <h1>Overview</h1>
      <p>
         gOT Network is a network enumeration tool developed with the goal of increasing visibility within operational technology networking environments.
         Operational technology network environments often have low visibility stemming from a variety of criteria, including the type of devices on the network, obtuse network topologies, and a lack of logging.
         This lack of visibility can lead to non compliant patch management, configuration oversights, and potential vulnerabilities.
         The gOT Network seeks to help improve this issue of network visibility by connecting to the network and noninvasively collecting available data.
         Utilizing simple network management protocol with compatible devices such as routers and switches we can query them for their ARP and MAC tables.
         Using this gathered information we can help to provide a clearer idea of what all a network has to offer.
         Packaging the final result for IT staff members, they can choose the best course of action when it comes to hardening their network.
      </p>
      <br>
        <h3>Frontend</h3>
          <p>
            The frontend is a locally hosted website built by using <strong>Angular</strong>. It utilizes many Angular libraries for functionality, such as the <strong>core</strong> and <strong>material</strong> libraries, to display the information gathered from the backend.
          </p>
      <br>
        <h3>Backend</h3>
          <p>
            The backend uses <strong>easysnmp</strong> to query routers for their ARP tables to aquire a device's MAC and IP address.
            This information is stored in a locally hosted <strong>SQLite</strong> database.
            Using <strong>Flask</strong>, a device's information is sent to the <strong>Angular</strong> website to be displayed using <strong>HTTP GET requests</strong>.
          </p>
    </section>

    <section #sections id="section2">
      <h1>Inventory</h1>
      The inventory page allows you to view a table of all the devices being monitored and their respective properties <br>
      <figure>
        <img src="assets/inventorybar.png" height="100px" alt="Inventory Bar">
        <figcaption>
          The <strong>Add Button</strong> opens a pop up window where you can insert a device's information to be added to the table <br>
          The <strong>Refresh Button</strong> refreshes the device table <br>
          The <strong>Search Box</strong> shows devices that match the property that was searched for <br>
        </figcaption>
      </figure>
      <br>
      <figure>
        <img src="assets/three dots.png" alt="Three Dots">
        <figcaption>
          When clicking the <strong>Three Dots</strong> next to a device in the table, you can <strong>change the notes, edit, or delete</strong> the device
        </figcaption>
      </figure>
      <br>
      <figure>
        <img src="assets/sorting.png" alt="Sorting">
        <figcaption>
          You can <strong>Sort</strong> in ascending or descending order based on any property in the table by clicking the propety at the top of the table
        </figcaption>
      </figure>
    </section>

    <section #sections id="section3">
      <h1>Alerts</h1>
      <p>Alerts page tutorial</p>
      Shows alerts on devices
    </section>
  </div>
</div>
