.toc {
    position: sticky;
    background: #f8f9fa;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .button {
    transition-duration: 0.4s;
    padding: 7px;
    
  }

  .button:hover {
    background-color: gainsboro;
    color: black;
    
  }
  
  .toc li {
    margin: 0.5rem 0;
    list-style-type: none;
  }
  
  .content section {
    padding: 1.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    background: #ffffff;
  }
  
  .content section h3 {
    margin-top: 0;
  }
  
  .content {
    font-family: Arial, sans-serif;
  }
  