<div class="tutorial-page">
  <!-- Table of Contents -->
  <div class="toc">
    <h2>Table of Contents</h2>
    <li><button class="button" (click)="scrollToSection('section1')">Overview</button></li>
    <li><button class="button" (click)="scrollToSection('section2')">Inventory</button></li>
    <li><button class="button" (click)="scrollToSection('section3')">Vulnerabilities</button></li>
  </div>

  <!-- Sections -->
  <div class="content">
    <section #sections id="section1">
      <h3>Overview</h3>
      <p>Product Overview</p>
      <br>
      bleh
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>

    <section #sections id="section2">
      <h3>Inventory</h3>
      <p>Inventory page tutorial</p> <img src="assets/inventorybar.png" style="float:right" height="100px">
      bleh
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>

    <section #sections id="section3">
      <h3>Vulnerabilties</h3>
      <p>Vulnerabilities page tutorial</p>
      bleh
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>
  </div>
</div>
